body {
    display: flex;
    background-image: url('try3.jpg');
    justify-content: center;
    background-image: url(try3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}


.container {
    backdrop-filter: blur(5px);
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(12, 92, 5, 0.692);

}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
    margin-bottom: 7px;
    background: transparent;
    border-radius: 9px;

}

.text-login {
    font-size: 20px;
    color: wheat;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8%;
}

.login-button{
    cursor: pointer;
    color: white;
    background-color: rgb(25, 94, 25);
    font-size: 15px;
    border: none;
    border-radius: 9px;
    margin-bottom: 7px;
}

.login-button:hover {
    background-color: rgb(121, 235, 140);
    columns: white;
 
}


.forgot {
    cursor: pointer;
    color: wheat;
    font-size: 13px;
    text-align: center;
}

.remember-text {
    color: wheat;
    font-size: 15px;
    cursor: pointer;
}

.check {
    cursor: pointer;
}

.text-2 {
    font-size: 12px;
    color: wheat;
}